<tr>
    <th scope="row">1.</th>
    <td>Register</td>
    <td>ADMIN</td>
    <td>-</td>
    <td>ADMIN</td>
    <td>POST</td>
    <td>/api/admin</td>
    <td>
        {name:"Admin", email: "admin@gmail.com", password: "123", image_url: "linkUrl"}
    </td>
</tr>
<tr>
    <th scope="row">2.</th>
    <td>Login</td>
    <td>ADMIN</td>
    <td>-</td>
    <td>ADMIN</td>
    <td>POST</td>
    <td>/api/admin/login</td>
    <td>
        {email: "admin@gmail.com", password: "123"}
    </td>
</tr>
<tr>
    <th scope="row">3.</th>
    <td>Get All Admin</td>
    <td>ADMIN</td>
    <td>Token</td>
    <td>ADMIN</td>
    <td>GET</td>
    <td>/api/admin/getalladmin</td>
    <td>
        -
    </td>
</tr>
<tr>
    <th scope="row">4.</th>
    <td>Update</td>
    <td>ADMIN</td>
    <td>Token</td>
    <td>ADMIN</td>
    <td>PUT</td>
    <td>/api/admin/update/:id</td>
    <td>
        -
    </td>
</tr>
<tr>
    <th scope="row">5.</th>
    <td>Update</td>
    <td>ADMIN</td>
    <td>Token</td>
    <td>ADMIN</td>
    <td>DEL</td>
    <td>/api/admin/delete/:id</td>
    <td>
        -
    </td>
</tr>