<tr>
    <th scope="row">1.</th>
    <td>Add movie</td>
    <td>MOVIE</td>
    <td>Token</td>
    <td>MOVIE</td>
    <td>POST</td>
    <td>/api/movie</td>
    <td>
        {title:"movie", image_url: "-", link_triler: "-", link_full: "-", year: "-", sipnosis: "-", rating: "-", actor: "-", director: "-"}
    </td>
</tr>
<tr>
    <th scope="row">2.</th>
    <td>Update</td>
    <td>MOVIE</td>
    <td>Token</td>
    <td>MOVIE</td>
    <td>PUT</td>
    <td>/api/movie/update/:id</td>
    <td>
        -
    </td>
</tr>
<tr>
    <th scope="row">3.</th>
    <td>Get all MOVIE</td>
    <td>MOVIE</td>
    <td>Token</td>
    <td>MOVIE</td>
    <td>GET</td>
    <td>/api/movie/getall</td>
    <td>
        -
    </td>
</tr>
<tr>
    <th scope="row">4.</th>
    <td>FindBySearch</td>
    <td>MOVIE</td>
    <td>Token</td>
    <td>MOVIE</td>
    <td>GET</td>
    <td>/api/movie/findbysearch</td>
    <td>
        -
    </td>
</tr>
<tr>
    <th scope="row">5.</th>
    <td>Update</td>
    <td>MOVIE</td>
    <td>Token</td>
    <td>MOVIE</td>
    <td>DEL</td>
    <td>/api/movie/delete/:id</td>
    <td>
        -
    </td>
</tr>