<tr>
    <th scope="row">1.</th>
    <td>Register</td>
    <td>USER</td>
    <td>-</td>
    <td>USER</td>
    <td>POST</td>
    <td>/api/user</td>
    <td>
        {name:"user", email: "user@gmail.com", password: "123"}
    </td>
</tr>
<tr>
    <th scope="row">2.</th>
    <td>Login</td>
    <td>USER</td>
    <td>-</td>
    <td>USER</td>
    <td>POST</td>
    <td>/api>USER/login</td>
    <td>
        {email: "user"@gmail.com", password: "123"}
    </td>
</tr>
<tr>
    <th scope="row">3.</th>
    <td>Get all user</td>
    <td>USER</td>
    <td>Token</td>
    <td>USER</td>
    <td>GET</td>
    <td>/api/user/getaluser</td>
    <td>
        -
    </td>
</tr>
<tr>
    <th scope="row">4.</th>
    <td>Update</td>
    <td>USER</td>
    <td>Token</td>
    <td>USER</td>
    <td>PUT</td>
    <td>/api/user/update/:id</td>
    <td>
        -
    </td>
</tr>
<tr>
    <th scope="row">5.</th>
    <td>Update</td>
    <td>USER</td>
    <td>Token</td>
    <td>USER</td>
    <td>DEL</td>
    <td>/api/user/delete/:id</td>
    <td>
        -
    </td>
</tr>